.*sw?
configure
META
Makefile
syntax/Makefile
config.log
config.status
shtop
lib/version.ml
lib/flags.ml
lib/line.ml
lib/line.mli
syntax/lineMetadata.ml
syntax/pp_linespec
doc/.cache
doc/INDEX
doc/html
doc/man
*.o
*.cmi
*.cmo
*.cmx
*.doc
*.doci
