.*sw?
configure
META
Makefile
syntax/Makefile
config.log
config.status
shtop
lib/version.ml
lib/anyShtream.ml
lib/anyShtream.mli
lib/fitting.ml
lib/fitting.mli
lib/flags.ml
lib/line.ml
lib/line.mli
lib/shtream.ml
lib/shtream.mli
syntax/lineMetadata.ml
syntax/pp_linespec
*.o
*.cmi
*.cmo
*.cmx
